/ai1wm-backups/
/cache/
/uploads/
/upgrade/
/upgrade-temp-backup/
/languages/
/wflogs/
/backups/
/updraft/
/litespeed/

/themes/test/inc/secret.inc.php
.env
.env.*
*.pem
*.key
/debug.log
*.log
*.sql
*.sql.gz

.DS_Store
Thumbs.db
.idea/
.vscode/
